@model Pizza

@{
    ViewData["Title"] = "Dettaglio pizza";
    Layout = "_CustomLayout";

}

<section class="show-pizza">
    <div class="container">
        <a href="@Url.Action("index", "Pizza", Model )" class="btn btn-primary">Torna alla lista</a>

        <div class="card card-pizza" style="width: 18rem;">
            <img src="@Url.Content(Model.Image)" class="card-img-top" alt="@Model.Name">
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                @* <p class="card-text">@Model.Category?.Name</p> *@
                <p class="card-text">@Model.GetDisplayCategory()</p>
                <p class="card-text">@Model.Description</p>
                <div class="row">
                    <div class="col">
                        <div class="d-flex flex-wrap gap-2">
                            @foreach (var ingredient in Model.Ingredients)
                            {
                                <div class="bg-primary text-light rounded-pill p-1">
                                    @ingredient.Name
                                </div>
                            }
                        </div>
                    </div>

                </div>
                <p class="card-text">Prezzo: @Model.Price &euro;</p>
                @* <a href="@Url.Action("Show", "Pizza", Model )" class="btn btn-primary">Guarda</a> *@
            </div>
        </div>
    </div>
</section>
